*.*~
*.v
*.ds
*.ux
*.swp
*.log
*.csv
*.txt
*.pdf
*.png
*.jpg
*.html
*.db
*.db3
*.sqlite
*.sqlite3
*.db-journal
*.exe
*.7z
rubyscript2exe*.rb
log/*.log
tmp/**/*
doc/api
doc/app
